$wetAsphalt: #34495e;
$asbestos: #7f8c8d;
$peterRiver: #3498db;
$belizeHole: #2980b9;
$silver: #bdc3c7;
$bgColor: white;

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: Montserrat;
    overflow: hidden;
}

.app {
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    display: none;
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;

    img {
        width: 24px;
        height: 24px;
    }
}

.usersection, .productssection {
    background: $bgColor;
}

.user {
    margin: 30px 0 0 0;
    overflow: auto;

    .name {
        text-align: center;
        color: $wetAsphalt;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .location {
        margin: 2px 0 0 0;
        text-align: center;
        color: $asbestos;
        font-size: 0.75rem;
    }

    .avatar {
        margin: 20px 0;
        position: relative;
        height: 120px;

        .photo {
            width: 100px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50px) translateY(-50px);
            border-radius: 50%;
        }

        .country {
            width: 30px;
            height: 20px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(20px) translateY(30px);
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
        }
    }

    .nickname {
        color: $belizeHole;
        text-align: center;
        font-weight: 500;
        font-size: 1rem;
    }

    .stats {
        text-align: center;
        margin: 40px 0 20px 0;

        .stat {
            width: 50%;
            float: left;

            .desc {
                color: $silver;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 0.9rem;
                margin: 0 0 4px 0;
            }

            .amount {
                font-size: 1rem;
                color: $wetAsphalt;
                letter-spacing: 3px;
                font-weight: 600;
            }
        }
    }
}

.bottomContainer {
    margin: 20px 0 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;

    .siusiu {
        position: relative;
        width: 100%;
        height: 100px;

        .down {
            border-color: #34495e;
        }

        .left {
            left: -10vw;
        }

        .right {
            right: -10vw;
        }

        * {
            position: absolute;
            width: 50%;
        }

        .left.bg {
            border-top: 20px solid $bgColor;
            border-left: 60vw solid transparent;
            z-index: 2;
        }

        .right.bg {
            border-top: 20px solid $bgColor;
            border-right: 60vw solid transparent;
            z-index: 2;
        }

        .left.up {
            top: 10px;
            border-top: 20px solid aquamarine;
            border-left: 60vw solid transparent;
            z-index: 1;
        }

        .left.up {
            top: 10px;
            border-top: 20px solid aquamarine;
            border-right: 60vw solid transparent;
            z-index: 1;
        }

        .left.down {
            top: 20px;
            border-top: 20px solid $asbestos;
            border-left: 60vw solid transparent;
            z-index: 0;
        }

        .left.down {
            top: 20px;
            border-top: 20px solid $asbestos;
            border-right: 60vw solid transparent;
            z-index: 0;
        }
    }


    .links {

        .linkSpacer {
            background: $silver;
            height: 1px;
            width: calc(100% - 20px);
            margin: 0 auto;
        }

        .link {
            text-decoration: none;
            padding: 8px 10px;
            display: block;
            overflow: auto;

            .linkName {
                color: $peterRiver;
                font-size: 0.9rem;
                float: left;
                line-height: 22px;
            }

            .linkValue {
                color: $asbestos;
                float: right;
                font-size: 0.9rem;
                line-height: 22px;
                padding: 0 10px 0 0;

                img {
                    height: 20px;
                    line-height: 22px;
                }
            }

            .linkArrow {
                float: right;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#createOrder {
    position: absolute;
    left: 50%;
    transform: translateX(-40vw);
    width: 80vw;
    background: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
    top: 20px;
    border-radius: 2px;

    .content {
        display: block;
        float: left;
        font-size: 1.05rem;
        line-height: 32px;
        margin: 4px 0 4px 10px;
    }

    .icon img {
        width: 26px;
        height: 26px;
        float: right;
        margin: 7px;
    }

    .separator {
        float: right;
        width: 1px;
        height: 32px;
        background: $silver;
        margin: 4px 0;
    }
}

.mapLinks {
    position: absolute;
    bottom: 20px;
    right: 20px;

    .link {
        margin-left: 10px;
        width: 40px;
        height: 40px;
        background: $bgColor;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
        float: right;
        border-radius: 5px;

        img {
            width: 24px;
            height: 24px;
            margin: 8px;
        }
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
}

.receipt {
    position: relative;
    width: 80vw;
    min-height: 30vh;
    margin: 20px auto 0;
    background: $bgColor;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 10px;
        bottom: -10px;
        left: 0;
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 33.333%, $bgColor 33.333%, $bgColor 66.667%, rgba(0, 0, 0, 0) 66.667%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 33.333%, $bgColor 33.333%, $bgColor 66.667%, rgba(0, 0, 0, 0) 66.667%);
        background-size: 20px 40px;
        background-position: 50% -30px;
        background-repeat: repeat-x;
        z-index: 1;
    }

    .receiptHeader {
        overflow: auto;
    }

    .brand {
        margin: 6px 0 0 6px;
        float: left;
        overflow: auto;

        img {
            float: left;
            width: 40px;
            height: 40px;
        }

        .brandText {
            float: left;
            line-height: 40px;
            font-size: 1.4rem;
            margin-left: 12px;
        }
    }

    .timestamp {
        float: right;
        color: $silver;
        font-weight: 500;
        font-size: 0.8rem;
        text-align: right;
        margin: 14px 6px 0 0;

        .time {
            margin-top: 4px;
        }
    }

    .orderName {
        clear: both;
        margin: 20px 10px;
        font-weight: 500;
        font-size: 1.1rem;
    }

    .products {
        margin: 12px 12px;

        .product {
            font-size: 0.9rem;
            overflow: auto;
            padding: 2px 0;

            .name {
                float: left;
                width: 76%;

                .info {
                    color: $silver;
                }
            }

            .price {
                float: left;
                width: 24%;
            }
        }

        .separator {
            width: 100%;
            border-bottom: 1px dashed $silver;
            margin: 10px 0;
        }

        .summary {
            font-weight: 600;
            font-size: 0.9rem;
            overflow: auto;
            padding-bottom: 20px;

            .total {
                float: left;
                width: 70%;
                line-height: 1.8rem;
            }

            .price {
                float: left;
                width: 30%;
                text-align: center;

                .additionalInfo {
                    display: block;
                    color: $peterRiver;
                }
            }
        }
    }
}

.paymentCards {

    .card {
        background: $wetAsphalt;
        border-radius: 10px;
        width: 80vw;
        position: relative;
        height: 175px;
        margin: 35px auto 10px;
        font-size: 0.8rem;
        color: white;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);

        img {
            height: 30px;
            margin: 15px 5px 5px 15px;
        }

        .cardNumber {
            text-align: center;
            font-size: 1.3rem;
            margin: 15px 0;
        }

        .title {
            color: $silver;
            text-transform: uppercase;
            padding-bottom: 5px;
            font-size: 0.7rem;
        }

        .value {
            text-transform: uppercase;
            font-size: 1rem;
        }

        .cardHolder, .cardExpiry {
            float: left;
            width: 60%;
            padding: 20px 20px 10px 20px;
        }

        .cardExpiry {
            width: 40%;
            text-align: right;
        }
    }

    .creditFont {
        font-family: Inconsolata;
    }
}